@model RoushUSPS_App.ViewModels.Address.AddressCreateViewModel;
@*
	ViewData["Title"] = "Creating new address";
*@


<form asp-controller="Address" asp-action="Create" method="post" id="customForm_TableEdit" class="row g-4 ms-3w mt-5 ps-3 pe-3 pb-4" style="background-color: white; width: 65vh;left: 0; right: 0; margin: auto;">

	<div id="manageUserRolesCard_customEdit" class="card " style=" width: 95%; left: 0; right: 0; margin: auto; top: -.8rem;">
		<div class="card-body">
			<div class="mb-0" style="font-weight: bolder;">
				<h2 class="card-title">Creating New Address</h2>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<label for="Address2" class="form-label">Street Address</label>
		@Html.EditorFor(r => r.Address2, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(r => r.Address2, "", new { @class = "text-danger" })


	</div>
	<div class="col-md-12">

		<label for="Address1" class="form-label">Apt, suite, unit, building, floor, etc.</label>
		@Html.EditorFor(r => r.Address1, new { htmlAttributes = new { @class = "form-control" } })

	</div>
	<div class="col-md-12">

		<label for="City" class="form-label">City</label>
		@Html.EditorFor(r => r.City, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(r => r.City, "", new { @class = "text-danger" })


	</div>
	<div class="col-md-12">

		<label for="State" class="form-label">State</label>
		@Html.EditorFor(r => r.State, new { htmlAttributes = new { @class = "form-control", placeholder = "Use two letter state abbreviation" } })

		@Html.ValidationMessageFor(r => r.State, "", new { @class = "text-danger" })



	</div>
	<div class="col-md-12">

		<label for="ZipCode5" class="form-label">ZipCode5</label>
		@Html.EditorFor(r => r.ZipCode5, new { htmlAttributes = new { @class = "form-control" } })

	</div>
	<div class="col-md-12 d-flex justify-content-end">
		<button type="submit" class="btn btn-primary">Add Address</button>

	</div>

</form>
