@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
	ViewData["Title"] = "Unprocessed Addresses";
}
<div id="customForm_TableEdit" class="ps-4 pe-4 ms-4 me-4" style="background-color: white;">
	<div id="manageUserRolesCard_customEdit" class="card " style=" width: 95%; left: 0; right: 0; margin: auto; top: -.8rem;">
		<div class="card-body">
			<div class="mb-0" style="font-weight: bolder;">
				<h2 class="card-title">Unprocessed Addresses</h2>

			</div>
			<p class="mb-0">List of all unprocessed/unverified Addresses</p>

		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Street Address
				</th>
				<th>
					Apt, Suite, Unit, etc.
				</th>
				<th>
					City
				</th>
				<th>
					State
				</th>
				<th>
					ZIP Code
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var address in ViewBag.AddressUnprocessedList)
			{
				<tr>
					<td>
						@address.Address2
					</td>
					<td>
						@address.Address1
					</td>
					<td>
						@address.City
					</td>
					<td>
						@address.State
					</td>
					<td>
						@address.ZipCode5
					</td>
					<td>
						<div>
							@Html.ActionLink("Verify", "VerifyAddress", "Address", new { id = address.Id }, new { @class = "actionLinkCustom" })
						</div>
						<div>
							@Html.ActionLink("Delete", "Delete", "Address", new { id = address.Id }, new { @class = "actionLinkCustom" })
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
	<div class="d-flex justify-content-end me-5">
		@Html.PagedListPager((IPagedList)ViewBag.AddressUnprocessedList, page => Url.Action("GetAllUnprocessedAddresses", new {  addressPage = page }),
		new PagedListRenderOptions
		{
		DisplayLinkToFirstPage = PagedListDisplayMode.Never,
		DisplayLinkToLastPage = PagedListDisplayMode.Never,
		DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
		DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
		LinkToPreviousPageFormat = "&nbsp;&nbsp;Previous&nbsp;&nbsp;",
		LinkToNextPageFormat ="&nbsp;&nbsp;Next&nbsp;&nbsp;",
		MaximumPageNumbersToDisplay = 1,
		EllipsesFormat = "",
		DisplayEllipsesWhenNotShowingAllPageNumbers = false
		})
	</div>


</div>


